* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

$font-family-title: 'Aleo', serif;
$font-family-text: 'Red Hat Text', sans-serif;
$font-family-logo: 'Magra', sans-serif;
$color-button: #0d606f;
$color-text-primary: #ffffff;
$color-text-secondary: #f2785c;
$color-social-icons: #f8f8f8;
