* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

$font-family-title: 'Aleo', serif;
$font-family-text: 'Red Hat Text', sans-serif;
$font-family-logo: 'Magra', sans-serif;
$color-button: #0d606f;
$color-text-primary: #ffffff;
$color-text-secondary: #f2785c;
$color-social-icons: #f8f8f8;

@mixin flexDirection($flex-direction, $flex-wrap) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}

@mixin fontText($font-family, $font-size, $line-height, $font-weight) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: $color-text-primary;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  @include fontText($font-family-text, 24px, 32px, 500);
  color: $color-text-primary;
  background-color: $color-button;
  border: none;
  cursor: pointer;
}

.section-title {
  @include fontText($font-family-text, 40px, 53px, 500);
  color: $color-text-secondary;
}

.header {
}

.header__container {
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  @include flexDirection(row, wrap);
  padding: 25px 120px;
  justify-content: space-between;
  align-items: center;
}

.header__logo-block {
  @include flexDirection(row, wrap);
  gap: 6px;
}

.header__logo-image {
  width: 30px;
  height: 30px;
  fill: $color-text-primary;
}

.header__logo-text {
  @include fontText($font-family-logo, 32px, 39px, 600);
  color: $color-text-primary;
}

.nav {
}

.nav__list {
  @include flexDirection(row, wrap);
  gap: 42px;
}

.nav__item {
  &:hover {
    transform: scale(1.05);
    transition: 0.5s all ease-in-out;
    color: $color-social-icons;
  }
}

.nav__link {
  @include fontText($font-family-text, 16px, 21px, 500);
  color: $color-text-primary;

  &:last-child {
    margin-right: 38px;
  }
}

.header__login-btn {
  @include fontText($font-family-text, 16px, 21px, 500);
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.main {
}

.main__container {
}

.first-screen {
  background-image: url('./assets/images/png/header.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 765px;
  padding-top: 32px;
  padding-bottom: 254px;
  padding-left: 120px;
}

.first-screen__title {
  @include fontText($font-family-title, 80px, 96px, 700);
  color: $color-text-primary;
  margin-bottom: 32px;
  max-width: 723px;
}

.first-screen__description {
  @include fontText($font-family-title, 20px, 24px, 700);
  font-style: italic;
  color: $color-text-primary;
  margin-bottom: 46px;
  max-width: 723px;
}

.first-screen__search {
  max-width: 892px;
  @include flexDirection(row, wrap);
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  align-items: center;
  padding: 18px 18px 18px 41px;
}

.search__text {
  @include fontText($font-family-title, 24px, 29px, 400);
  color: $color-text-secondary;
  font-style: italic;
}

.search__btn {
  padding: 13.5px 32.5px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
}

.three-steps {
  @include flexDirection(column, wrap);
  padding: 80px 132px;
  align-items: center;
  margin: 0 auto;
}

.three-steps__title {
  margin-bottom: 40px;
}

.three-steps__list {
  width: 100%;
  @include flexDirection(row, wrap);
  justify-content: space-between;
}

.three-steps__item {
  background-position: center top;
}

.three-steps__item:nth-child(1) {
  background-image: url('./assets/images/svg/velo.svg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.three-steps__item:nth-child(2) {
  background-image: url('./assets/images/svg/date.svg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.three-steps__item:nth-child(3) {
  background-image: url('./assets/images/svg/plane.svg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.three-steps__text {
  @include fontText($font-family-title, 20px, 24px, 400);
  color: $color-button;
  margin-top: 130px;
}

.destinations {
  @include flexDirection(column, wrap);
  padding: 17px 0px 40px 0px;
  align-items: center;
  margin: 0 auto;
}

.destinations__title {
  margin-bottom: 46px;
}

.destinations__images-container {
  @include flexDirection(row, no-wrap);
  justify-content: center;
  gap: 60px;
  height: 800px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 26px;
}

.destinations__image-container {
  position: relative;
}

.destinations__image {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.destinations__image-description {
  position: absolute;
  left: 15px;
  bottom: 40px;
  width: 100%;
  @include fontText($font-family-text, 32px, 42px, 500);
  color: $color-text-primary;
}

.destination__crops-container {
  @include flexDirection(row, wrap);
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.destination__crop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f2785c;

  &:hover,
  &:active {
    background: rgba(242, 120, 92, 0.5);
  }

  &:nth-child(2) {
    background: rgba(242, 120, 92, 0.5);
  }
}

.destination__btn {
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 13.5px 31px;
  display: flex;
  align-items: center;
}

.destination__btn-img {
  width: 40px;
  height: 22.5px;
  margin-right: 10px;
}

.stories {
  @include flexDirection(column, wrap);
  // padding: 40px 0px 50px 0px;
  padding: 40px 0px 0px 0px;
  align-items: center;
  // margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
}

.stories__title {
  margin-bottom: 40px;
}

.stories__container {
  @include flexDirection(column, wrap);
  background-image: url('./assets/images/png/stories.png'),
    url('./assets/images/png/bg.png');
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  height: 1270px;
  align-items: center;
  gap: 40px;
  position: relative;
}

.stories__images-container {
  @include flexDirection(column, wrap);
  padding: 30px 120px 0 120px;
  gap: 30px;
}

.story__container {
  @include flexDirection(row, no-wrap);
  gap: 40px;
  height: 250px;
}

.story__description {
  @include flexDirection(column, wrap);
  gap: 24px;
  width: 760px;
}

.story__title {
  @include fontText($font-family-title, 35px, 42px, 400);
  color: $color-button;
}

.story__describe {
  @include fontText($font-family-title, 20px, 24px, 400);
  color: $color-button;
}

.story__btn {
  width: 228px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 13.5px 31px;
  display: flex;
  align-items: center;
}

.story__btn-img {
  width: 40px;
  height: 22.5px;
  margin-right: 10px;
}

.footer {
  position: absolute;
  left: 0;
  // top: 3688px;
  top: 3710px;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}

.footer__container {
  @include flexDirection(row, no-wrap);
  padding: 13.35px 121px 13.35px 590px;
  gap: 328px;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  @include fontText($font-family-text, 16px, 21px, 500);
  color: $color-text-primary;
}

.footer__social-icons-container {
  @include flexDirection(row, no-wrap);
  gap: 20px;
}

.footer__social-icon {
  width: 33.65px;
  height: 33.65px;
  cursor: pointer;
}
