@font-face {
  font-family: 'Merriweather', serif;
  src: url("./assets/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("./assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
  }
}

body {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 768px) {
  body {
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
  }
}

a {
  color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: url("./assets/img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (max-width: 768px) {
  .header {
    background: url("./assets/img/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

@media (max-width: 520px) {
  .header {
    background: url("./assets/img/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: right 0;
  }
}

.header.light-theme {
  background: url("./assets/img/light-theme/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

@media (max-width: 768px) {
  .header.light-theme {
    background: url("./assets/img/light-theme/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

@media (max-width: 520px) {
  .header.light-theme {
    background: url("./assets/img/light-theme/bg-small.jpg");
    background-repeat: no-repeat;
    background-position: right 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .header__logo {
    margin-left: 40px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 376px) {
  .header__logo {
    margin-left: 0;
  }
}

@media (max-width: 376px) {
  .header__logo.light-theme {
    margin-left: 0;
  }
}

.header__icon {
  display: block;
  width: 50px;
  height: 50px;
  fill: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 420px) {
  .header__icon {
    width: 40px;
    height: 40px;
  }
}

.header__icon:hover {
  fill: #bdae82;
}

.header__icon.light-theme {
  display: block;
  width: 50px;
  height: 50px;
  fill: #1c1c1c;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__icon.light-theme:hover {
  fill: #bdae82;
}

/*.header__logo-link {
}*/
.nav {
  margin-left: auto;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 100%;
    z-index: 9;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear;
    background: var(--background-dark);
    min-height: 1024px;
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .nav.light-theme {
    background: var(--color-white);
  }
}

@media (max-width: 768px) {
  .nav.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 19.27%;
  }
}

@media (max-width: 620px) {
  .nav.open {
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 134px;
    padding-left: 127px;
  }
}

@media (max-width: 580px) {
  .nav__list {
    padding-left: 80px;
  }
}

@media (max-width: 768px) {
  .nav__list.light-theme {
    padding-top: 130px;
    padding-left: 121px;
  }
}

@media (max-width: 620px) {
  .nav__item {
    margin-bottom: 10px;
  }
}

.nav__item:nth-child(5) {
  margin-left: 35px;
}

@media (max-width: 768px) {
  .nav__item:nth-child(5) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.nav__item:nth-child(4) {
  margin-left: 32px;
}

@media (max-width: 768px) {
  .nav__item:nth-child(4) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.nav__item:nth-child(3) {
  margin-left: 31px;
}

@media (max-width: 768px) {
  .nav__item:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.nav__item:nth-child(2) {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .nav__item:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.nav__item:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .nav__item:first-child {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.nav__item:last-child {
  margin-right: 37px;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

@media (max-width: 768px) {
  .nav__link {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
    color: var(--color-gold);
  }
}

@media (max-width: 620px) {
  .nav__link {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
  }
}

.nav__link:hover {
  color: #bdae82;
}

.nav__link:hover:after {
  width: 100%;
}

.nav__link:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 25px;
  width: 0%;
  height: 2px;
  background-color: #bdae82;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .nav__link:after {
    top: 40px;
  }
}

.nav__link:focus:after {
  width: 100%;
}

.nav__link.light-theme:after {
  background-color: var(--color-white);
}

.nav__link.light-theme:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .nav__link.light-theme {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
  }
}

.toggle {
  display: block;
  margin-right: 36px;
}

@media (max-width: 768px) {
  .toggle {
    margin-left: auto;
  }
}

.toggle .active {
  color: #bdae82;
}

.toggle.light-theme {
  color: #1c1c1c;
}

@media (max-width: 768px) {
  .toggle.light-theme {
    display: block;
    margin-right: 30px;
  }
}

.toggle.light-theme .active {
  color: #ffffff;
}

.toggle__link, .toggle__slash {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.toggle__link:first-child {
  margin-right: 13px;
}

.toggle__link:last-child {
  margin-left: 11px;
}

@media (max-width: 768px) {
  .toggle__link:last-child {
    margin-left: 18px;
  }
}

@media (max-width: 768px) {
  .toggle__link.light-theme:last-child {
    margin-left: 10px;
  }
}

.toggle__link:hover {
  color: #bdae82;
}

.theme {
  background-image: url("./assets/svg/sun.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.theme:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.theme.light-theme {
  background-image: url("./assets/svg/moon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 45px;
  height: 45px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.theme.light-theme:hover {
  -webkit-filter: invert(77%) sepia(7%) saturate(1374%) hue-rotate(7deg) brightness(92%) contrast(84%);
          filter: invert(77%) sepia(7%) saturate(1374%) hue-rotate(7deg) brightness(92%) contrast(84%);
}

.burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 44px;
  margin-left: 20px;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}

@media (max-width: 420px) {
  .burger-menu {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    margin-left: 20px;
  }
}

.burger-menu.light-theme {
  margin-left: 30px;
}

.line {
  width: 100%;
  height: 2px;
  background: #ffffff;
  margin-bottom: 11px;
  z-index: 15;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 420px) {
  .line {
    margin-bottom: 8px;
  }
}

.line.light-theme {
  background: #1c1c1c;
}

.line1 {
  margin-top: 8px;
}

@media (max-width: 420px) {
  .line1 {
    margin-bottom: 8px;
  }
}

.burger-menu.open {
  -webkit-animation: smallbig 0.6s forwards;
          animation: smallbig 0.6s forwards;
}

.burger-menu.open .line1,
.burger-menu.open .line2,
.burger-menu.open .line3 {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.burger-menu.open .line2 {
  opacity: 0;
}

.burger-menu.open .line1 {
  -webkit-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
}

@media (max-width: 420px) {
  .burger-menu.open .line1 {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
}

.burger-menu.open .line3 {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 420px) {
  .burger-menu.open .line3 {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
}

@-webkit-keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes smallbig {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.backdrop {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.backdrop.open {
  left: 0;
  opacity: 1;
}

.backdrop.light-theme {
  background: rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */